* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 34px;
}

h1 {
  font-size: 34px;
  border: 1px solid #000000;
  padding: 0 20px;
}

.header-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 1040px;
}

.header-all a {
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

.header-all a:hover {
  text-decoration: none;
}

.header-nav ul {
  display: flex;
  padding-left: 0;
}

.header-nav li {
  margin: 0 20px;
  list-style: none;
  font-weight: bold;
}

.main-image {
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin: 0;
  padding: 60px 0 40px 0;
}

#div-about {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px;
}

#div-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto 0 auto;
  max-width: 1000px;
  text-align: center;
}

#name {
  font-size: 24px;
  font-weight: bold;
}

.about-image {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

#about-text {
  margin: 0 auto;
  padding: 0 20px;
}

#about-text li {
  font-size: 18px;
}

.works-block {
  margin: 0 10px 0 10px;
  padding: 0;
  padding-bottom: 50px;
  width: 25%;
  text-align: center;
}

.works-image {
  width: 100%;
}

.works-block p {
  font-size: 18px;
}

footer p {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header-all {
    max-width: 960px;
    margin: 0 auto;
  }

  .header-all a {
    margin: 0;
  }

  .header-nav li {
    margin: 0 5px;
  }

  h1 {
    font-size: 28px;
    margin: 0;
  }

  .header-nav ul {
    align-items: center;
  }

  .header-nav a {
    margin: 0;
    font-size: 21px;
  }

  h2 {
    font-size: 28px;
  }

  .works-block {
    padding-bottom: 20px;
    width: 100%;
  }

  .about-image {
    margin: 0 auto;
  }
  
}